#menu {
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid rgb(214, 211, 214);
}

.topbox {
    width: 250px;
    border-radius: 4px;
    overflow: hidden;
    float: right;
}

.topbox .name {
    width: 69px;
    height: 69px;
    background: rgba(237, 237, 237, 1);
    border-radius: 50%;
    color: #474749;
    font-size: 29px;
    line-height: 69px;
    text-align: center;
    margin-left: 25px;
    margin-top: 21px;
    float: left;
}

.topbox .rightname {
    overflow: hidden;
}

.topbox .rightname .s1 {
    float: left;
    color: #e46943;
    font-size: 14px;
    line-height: 40px;
    margin-right: 20px;
    border-left: 1px solid rgb(214, 211, 214);
    padding-left: 20px;
}

.topbox .rightname .s1 * {
    float: left;
}

.topbox .rightname .s1 img {
    margin-top: 14px;
    margin-right: 20px;
}

.topbox .rightname .s2 {
    float: left;
    color: rgb(74, 71, 74);
    font-size: 14px;
    cursor: pointer;
    line-height: 40px;
    border-left: 1px solid rgb(214, 211, 214);
    padding-left: 20px;
}

#menu .nav {
    margin-left: 20px;
    background-color: transparent;
    float: left;
    height: 40px;
}